body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;

}
/*Header Container*/
header{
  border: 1px solid white;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  z-index: 5;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
}
.logo{
  margin-left: 10px;
  display: flex;
  height: 50px;
  border: 1px solid white;
}
.topnav {
  border: 1px solid white;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  flex-grow: 1;

}
.topnav a{
  color: seashell;
  font-size: 22px;
  padding: 20px 10px;
}
/*End header elements*/
/*Main Container*/
.container{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  top: 70px;
  width: 1200px;
  margin: auto;
  justify-content: space-around;
}
/*Our Mission*/
.mission{
  border: 1px solid white;
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.mission h2, .mission h4, .contact h2, .contact h5{
  background-color: black;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
}
/*Tea of the Month*/
  /*parent box*/
.featured{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}
/*container for tea images*/
.teaimgs{
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1000px;
  margin: 0;
}
/*container for individual image and caption*/
.teas{
  border:1px solid white;
  display: inline-block;
  flex-direction: column;
  width:300px;
  padding: 10px;
}
/*tea photos*/
.imgtea{
  border: 1px solid white;
  width: 300px;
  height: 200px;
  margin: 10px 0px;
}
/*tea captions*/
.teas h4{
  margin: 0;
}
/*Locations */
  /*parent box*/
.locations {
  border: 1px solid white;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 1200px;
  height: 500px;
}
.addresses {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.town {
  border: 1px solid white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 5px 20px;
}
.town h2{
  margin:0;
  padding: 10px;
}
.town span{
  padding: 20px 10px;
}
/*Contact*/
.contact{
  border: 1px solid white;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/*footer*/
footer{
  border: 1px solid white;
  display: flex;
  width: 100%;
  height: 69px;
  background-color: black;
}
footer span{
  display: block;
  padding:20px 10px;
}

/*images*/
#mission{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
}
#locations{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
}
